.container{
	font-size: 36px;
}
.loadbg{
	background: rgba(0,0,0,0.5);
}

.nav{
	width: 100px;
	height: 100px;
	background: url("./images/001.png");
}
.head{
	width: 100px;
	height: 100px;
	background: url("./images/004.png");
}