.report-{
	&container{
		padding: 0 32px;
		display: block;
		background: #ffffff;
	}
	&title{
		padding: 40px 0;
		font-size: 32px;
		line-height: 1;
		font-family: PingFang SC;
		font-weight: 400;
		color: #333333;
	}
	&content{
		padding: 20px;
		height: 450px;
		width: 646px;
		line-height: 1.5;
		font-size: 28px;
		font-family: PingFang SC;
		font-weight: 400;
		color: #333333;
		border: none;
		background: rgba(51,51,51,.03);
	}
	&num{
		padding: 10px 0;
    text-align: right;
    color: #ccc;
    font-size: 20px;
	}
}
